<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{{title}}}</title>
	<link rel="stylesheet" type="text/css" href="/scripts/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/scripts/style.css">
	<link rel="icon" href="/img/icon.jpg" type="image/jpeg">
</head>
<body>
	

	{{{body}}}

	<div class="alerter"></div>

	<script src="/scripts/icons/js/all.js"></script>
	<script src="/scripts/popup.js"></script>
	<script src="/scripts/timems.js"></script>
	<script src="/scripts/numbers.js"></script>
	<script src="/scripts/axios.js"></script>
	<script src="/APIS/SIOPS-router.js"></script>
	<script src="/scripts/bootstrap.js"></script>
	<script src="/scripts/alerts.js"></script>
	<script src="/scripts/pdf.js"></script>
	{{{scripting}}}
</body>
</html>
