<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ACAPE Software</title>
	<link rel="stylesheet" type="text/css" href="/scripts/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/scripts/style.css">
	<link rel="icon" href="/img/icon.jpg" type="image/jpeg">
</head>
<body>

	<br><br><br>
	<div class="container">
		<h1>Servicio no encontrado</h1>
		<p>Devuelvete a la pagina inicial o la pagina administrativa</p>
		<div class="btn-groups text-center">
			<a href="/" class="btn btn-primary">Pagina Principal</a>
			<a href="/app" class="btn btn-danger">Administracion</a>
		</div>
	</div>

	<div class="alerter"></div>

	<script src="./../scripts/icons/js/all.js"></script>
	<script src="./../scripts/bootstrap.js"></script>
</body>
</html>
